# データの永続化
## SQLite
* 軽量データベースを実施するC言語のライブラリ
* サーバー用のプロセスを必要としない,組み込み型のDBエンジン
* 単一のファイルによって管理される（インメモリも可能）

In [1]:
import sqlite3

In [ ]:
#DBファイルの保存先パス(相対パスで指定)
path =  ''

#goggle colabの場合
#path = '/content/'

#DBファイル
db_name = 'sample.db'

#DB接続
#DBファイルが存在しない場合は新規作成される
conn = sqlite3.connect(path + db_name)

#DBへの接続を閉じる
conn.close()

## こういうデータベースを作成してみる
* car.db

| id | name | price |
| - | - | - |
|  |  |  |
|  |  |  |
|  |  |  |

### DB（SQLite）を使う時の処理の流れ

1. DBへのコネクションを確立
2. コネクションオブジェクトからデータ操作用のカーソルオブジェクトを取得
3. 実行したいSQLを定義
4. SQLを実行
5. 必要があればコミットする
6. コネクションを閉じる

#

## テーブル作成

In [ ]:
path =  ''
db_name = 'car.db'

try:
    #DB接続
    conn = sqlite3.connect(path + db_name)

    #SQL実行用のカーソルオブジェクトを取得
    cur = conn.cursor()

    #テーブル作成SQL
    sql = 'CREATE TABLE cars (id INT, name TEXT, price REAL);'

    #SQL実行
    cur.execute(sql)

except sqlite3.Error as e:
    print(f"エラーが発生しました: {e}")
finally:
    #DBへの接続を閉じる
    conn.close()

##　データをDBに挿入する（単一レコード）

In [4]:
path =  ''
db_name = 'car.db'

try:
    #DB接続
    conn = sqlite3.connect(path + db_name)

    #SQL実行用のカーソルオブジェクトを取得
    cur = conn.cursor()

    #SQL作成
    #データの挿入
    #INSERT INTO テーブル名 (カラム1, カラム2, ...) VALUES (値1, 値2, ...);
    #文字列はシングルクォート(')で囲む
    sql = "INSERT INTO cars (id, name, price) VALUES (1, 'Audi', 52642.00);"

    #SQL実行
    cur.execute(sql)

    #  DBへの変更を保存
    conn.commit()

except sqlite3.Error as e:
    print(f"エラーが発生しました: {e}")

finally:
    #DBへの接続を閉じる
    conn.close()

## データをDBに接続する(複数レコード)

In [5]:
path =  ''
db_name = 'car.db'

try:
    #DB接続
    conn = sqlite3.connect(path + db_name)

    #SQL実行用のカーソルオブジェクトを取得
    cur = conn.cursor()

    #SQL作成
    #複数レコードの挿入
    #INSERT INTO テーブル名 (カラム1, カラム2, ...) VALUES (値1, 値2, ...);
    sql = "INSERT INTO cars (id, name, price) VALUES (?, ?, ?);"

    #挿入するデータのリスト
    cars = [
        (2, 'BMW', 36600.00),
        (3, 'Mercedes', 57127.00),
        (4, 'Skoda', 9000.00)
    ]

    #SQL実行
    cur.executemany(sql, cars)

    #  DBへの変更を保存
    conn.commit()

except sqlite3.Error as e:
    print(f"エラーが発生しました: {e}")

finally:
    #DBへの接続を閉じる
    conn.close()

## DB内のデータを参照する

In [ ]:
path =  ''
db_name = 'car.db'

try:
    #DB接続
    conn = sqlite3.connect(path + db_name)

    #SQL実行用のカーソルオブジェクトを取得
    cur = conn.cursor()

    #データを参照するSQL作成
    #SELECT * FROM テーブル名;
    sql = "SELECT * FROM cars;"
    #SQL実行
    cur.execute(sql)

    #  DBへの変更を保存
    #conn.commit()

except sqlite3.Error as e:
    print(f"エラーが発生しました: {e}")

else:
    for row in cur:
        #行データはタプルなので、アンパックして変数に代入
        id, name, price = row
        print(id, name, price)

finally:
    #DBへの接続を閉じる
    conn.close()

1 Audi 52642.0
2 BMW 36600.0
3 Mercedes 57127.0
4 Skoda 9000.0

## データの削除

In [ ]:
path =  ''
db_name = 'car.db'

try:
    #DB接続
    conn = sqlite3.connect(path + db_name)

    #SQL実行用のカーソルオブジェクトを取得
    cur = conn.cursor()

    #データを削除するSQL
    #DELETE FROM テーブル名 WHERE 条件;
    sql = "DELETE FROM cars WHERE id = 1;"
    #sql = "DELETE FROM cars WHERE name = 'BMW';"
    #sql = "DELETE FROM cars WHERE name like '%BMW';"

    #SQL実行
    cur.execute(sql)

    #  DBへの変更を保存
    conn.commit()

except sqlite3.Error as e:
    print(f"エラーが発生しました: {e}")

finally:
    #DBへの接続を閉じる
    conn.close()

## データの更新

In [8]:
path =  ''
db_name = 'car.db'

try:
    #DB接続
    conn = sqlite3.connect(path + db_name)

    #SQL実行用のカーソルオブジェクトを取得
    cur = conn.cursor()

    #データを更新するSQL
    #UPDATE テーブル名 SET カラム名=更新値,WHERE 更新したい行を指定する条件;
    sql = "UPDATE cars SET price = ? WHERE id = ?;"

    #SQL実行
    cur.execute(sql, (300000, 2))

    #  DBへの変更を保存
    conn.commit()

except sqlite3.Error as e:
    print(f"エラーが発生しました: {e}")

finally:
    #DBへの接続を閉じる
    conn.close()